<% provide(:title, 'About')%>
<h1>About</h1>
<p>
  This web interface makes it possible for developers to control thier AWS Instances.
  Developers can create, view, start, stop and destroy EC2 instances.
</p>

