<% provide(:title, 'Help')%>
<h1>Help</h1>
<p>
  <b>AMI Mapping</b>
  <ul>
    <li>ami-fb8e9292 => Amazon Linux AMI 2014.03.1</li>
    <li>ami-8d756fe4 => Red Hat Enterprise Linux 6.5 (PV)</li>
    <li>ami-e8084981 => SuSE Linux Enterprise Server 11 sp3 (PV)</li>
    <li>ami-018c9568 => Ubuntu Server 14.04 LTS (PV)</li>
  </ul>
</p>

<p>
<br>
  <b>Source</b>
  <ul>
    <li><a href="https://github.com/tjguthrie4600/ttgt-aws"> ttgt-aws</a></li>
  </ul>
</p>
<br>


<b>Type Mapping (Restriction: 24 points max)</b>
<p>
<table border="1" style="width:500px">
  <tr>
    <td><u>Type</u></td>
    <td><u>CPU</u></td>
    <td><u>Memory(GB)</u></td>
    <td><u>Price Per Hour</u></td>
    <td><u>Weight(Points)</u></td>
  </tr>
  <tr>
    <td>t1.micro</td>
    <td>1</td>
    <td>0.615</td>
    <td>$0.020</td>
    <td>1</td>
  </tr>
  <tr>
    <td>m1.small</td>
    <td>1</td>
    <td>1.7</td>
    <td>$0.044</td>
    <td>2</td>
  </tr>
  <tr>
    <td>m3.medium</td>
    <td>1</td>
    <td>3,75</td>
    <td>$0.070</td>
    <td>4</td>
  </tr>
  <tr>
    <td>m3.large</td>
    <td>2</td>
    <td>7.5</td>
    <td>$0.140</td>
    <td>6</td>
  </tr>
  <tr>
    <td>m3.xlarge</td>
    <td>4</td>
    <td>15</td>
    <td>$0.280</td>
    <td>12</td>
  </tr>
  <tr>
    <td>m3.2xlarge</td>
    <td>8</td>
    <td>30</td>
    <td>$0.560</td>
    <td>24</td>
  </tr>
</table> 
</p>

<br>
<p>
  <h6>Still stuck? <a href="contact"> Contact </a> your system administrator for issues.</h6>
</p>

